{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div class='container'>
  <div class="jumbotron">
			<center>
			  <h1>Remove Book: {{book.name}}</h1>
        <p> Are you sure you want to remove {{book.name}}? <p>
        <form action="#" method = 'post'>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
	        <button type="submit" class="btn btn-default" id="submit" type="submit">
	          <span class="fa fa-trash" aria-hidden="true"></span>  Remove
	        </button>
	        <a href = "{{url_for('showBooks', author_id = author.id)}}">
		        <button type="button" class="btn btn-default delete">
		          <span class="fa fa-times" aria-hidden="true"></span>  Cancel
		        </button>
	        </a>
        </form>
      </center>
</div>
{% endblock %}
