{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div class='container'>
  <div class="jumbotron">
		<center><h1>Edit Book: {{book.name}}</h1></center>
		<center><p>Use this form to edit book information.<p></center>
	</div>
	<hr>
	<div class="col-md-6 col-md-offset-3 padding-top">
	  <div class="well">
      <form action="{{url_for('editBook',author_id = author.id, book_id = book.id,)}}" method = "post" class="form-horizontal">
	      <div class="form-group">
	        <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
	        <label for="name" class="col-lg-2 control-label">Name:</label>
	        <div class="col-lg-10">
	          <input type ="text" class="form-control" maxlength="100" name="name" value="{{book.name}}" required="required">
	        </div>
	        
	         <label for="picture" class="col-lg-2 control-label">Picture:</label>
	        <div class="col-lg-10">
	          <input type ="url" class="form-control" pattern="^https?://(?:[a-z0-9\-]+\.)+[a-z]{2,6}(?:/[^/#?]+)+\.(?:jpg|gif|png)$" name="picture" value="{{book.picture}}">
	        </div>
	        
	        <label for="description" class="col-lg-2 control-label">Description:</label>
	        <div class="col-lg-10">
	          <textarea class="form-control" rows ="3" maxlength="250" name="description" required="required">{{book.description}}</textarea>
	        </div>
	        
	        <label for="price" class="col-lg-2 control-label">Price:</label>
	        <div class="col-lg-10">
	          <input type ="number" step="0.01" min=0 class="form-control" maxlength="100" name="price" value="{{book.price}}" required="required">
	        </div>
	      </div>
	      
	      <center><div class="form-group">
          <button type="submit" class="btn btn-default" id="submit" type="submit">
            <span class="fa fa-pencil" aria-hidden="true"></span>  Edit
          </button>
          <a href = "{{url_for('showBooks', author_id = author.id)}}">
					  <button type="button" class="btn btn-default">
					    <span class="fa fa-times" aria-hidden="true"></span> Cancel
					  </button>
				  </a>
	      </div></center>
      </form>
    </div>
  </div>
</div>
{% endblock %}
