{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div class='container'>
  <div class="jumbotron">
    <center><h1>{{author.name}}</h1></center>
    <center><p>List of books by {{author.name}}.</p><center>
  </div>
  <div class = 'flash'>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}  
        {% for category, message in messages %}
          <div class="alert alert-dismissible {{ category }}">
            <button type="button" class="close" data-dismiss="alert">×</button> 
            <strong> {{ message }} </strong> 
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
  </div>
  <hr>
  {% if items !=[] %}
    {% for book in books %}
      <div class="col-md-4">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">{{book.name}}</h3>
          </div>        
          <div class="panel-body">
            {{book.description}}  
          </div>
          <div class="panel-footer">
            <div class="input-group">
              <strong>${{book.price}}</strong>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  {% endif %}

{% endblock %}
