{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div class='container'>
  <div class="jumbotron">
    <center><h1>Authors</h1></center>
    <center><p>A catalog of books categorized by author.</p><center>
  </div>
  <div class = 'flash'>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}  
        {% for category, message in messages %}
          <div class="alert alert-dismissible {{ category }}">
            <button type="button" class="close" data-dismiss="alert">×</button> 
            <strong> {{ message }} </strong> 
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
  </div>
  <hr>
    <a href="{{url_for('newAuthor')}}">
      <button class="btn btn-default" id="new-author">
	      <span class="fa fa-plus" aria-hidden="true"></span>  Add Author
      </button>
    </a>
    <div class="list-group">
      {% for author in authors %}
        <a href="{{url_for('showBooks', author_id = author.id)}}" class="list-group-item">
	        <h4 class="list-group-heading">{{author.name}}</h4>
        </a>
      {% endfor %}
    </div>
</div>
{% endblock %}
